[Unit]
Description=Bluetooth service
Documentation=man:bluetoothd(8)

[Service]
Type=simple
BusName=org.bluez
ExecStart=/usr/libexec/bluetooth/bluetoothd
NotifyAccess=main
LimitNPROC=1