[Unit]
Description=Bluetooth service
Documentation=man:bluetoothd(8)
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/libexec/bluetooth/bluetoothd

[Install]
WantedBy=multi-user.target